/*
collection of useful snippets to use in other Bunches
*/

#[Hide Windows]
@@ # hides all visible windows

#[StopTimeTrackings]
!$/usr/bin/shortcuts run "Aktuelles Time-Tracking stoppen" # stops and time tracking via a shortcut that is currently running in Timery when closing a Bunch